{% extends 'plantilla.html' %}

{% block contenido %}
<div class="text-center">
    <h1>Revisiones de peliculas</h1>
    <p class="lead">Esta aplicación nos permitirá conocer las diferentes apreciaciones de los usuarios sobre las peliculas de nuestro interés.</p>
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione delectus incidunt sunt laudantium. Repellendus modi voluptas corrupti ullam atque necessitatibus a voluptatem tempora quisquam nobis consequatur, exercitationem quaerat libero voluptatibus.</p>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quo, doloribus eaque asperiores quasi labore animi aut error repellendus deserunt molestiae, ullam molestias exercitationem, dignissimos ratione minus ex sapiente neque temporibus.</p>
    <p class="lead">
        <a href="#" class="btn btn-lg btn-secondary fw-bold border-white bg-white text-dark">Ir a busqueda</a>
    </p>    
</div>
{% endblock contenido %}